* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
}

#sidenav-1 {
  top: 270px;
  left: 30px;
  overflow: hidden;
  position: fixed;
  width: 70px;
  height: 256px;
  background-color: #f0f0f0;
  overflow: hidden;
}

#sidenav-1 #sidenav-item {
  width: 100%;
  color: rgb(46, 45, 45);
  text-align: center;
}
#sidenav-1 #sidenav-item a .title {
  font-size: 10px;
  text-align: center;
}
#sidenav-1 #sidenav-item a {
  left: 0px;
}

#sidenav-1 #sidenav-item:hover {
  background: #d1cece;
}

#workspace {
  padding-top: 50px;
  background-image: radial-gradient(#b8aed3 1%, transparent 3%), radial-gradient(#b8aed3 1%, transparent 3%);
  background-color: #ffffff;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
  height: 1000px;
  width: 10000px;
}

#footer .container #upper {
  padding-top: 50px;
  padding-bottom: 50px;
}
#footer .container #lower .col .container a {
  padding-top: 50px;
  padding-right: 50px;
  font-size: 22px;
}
